<div id="home">
  <div class="titulo"><h2>Formación</h2></div>
  <div class="container">
    <div
      class="card mb-3"
      style="max-width: 540px"
      data-aos="fade-down-right"
      data-aos-duration="1000"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/UTN-LOGO.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>Universidad Tecnologica Nacional</b></h5>
            <p class="card-text">Desarrollo con Angular</p>
            <div class="iconoMove">
              <a
                class="linkCert"
                target="_blank"
                href="https://drive.google.com/file/d/1Yq4C6MKh9MbLXaLShR6M6M3qtoy2Kuj9/view?usp=sharing"
                >Ver certificado
                <i class="bi bi-chevron-double-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card mb-3"
      style="max-width: 540px"
      data-aos="fade-down-left"
      data-aos-duration="1000"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/UTN-LOGO.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>Universidad Tecnologica Nacional</b></h5>
            <p class="card-text">
              Desarrollo web con Javascript (nivel avanzado)
            </p>
            <div class="iconoMove">
              <a
                class="linkCert"
                target="_blank"
                href="https://drive.google.com/file/d/1KvCswjSoYDUlumn-eo653Uat4d8oioMa/view?usp=sharing"
                >Ver certificado
                <i class="bi bi-chevron-double-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card mb-3"
      style="max-width: 540px"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/UTN-LOGO.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>Universidad Tecnologica Nacional</b></h5>
            <p class="card-text">Desarrollo Web con Javascript</p>

            <div class="iconoMove">
              <a
                class="linkCert"
                target="_blank"
                href="https://drive.google.com/file/d/1KvCswjSoYDUlumn-eo653Uat4d8oioMa/view?usp=sharing"
                >Ver certificado <i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  © Copyright 2024 | All Right Reserved | Designed by Damian Bacque
</footer>
