.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.spacer{
    flex: 1 1 auto;
}
.botones a{
    margin: 10px;
}

.logo{
    padding: 10px 10px;
    margin-top: 10px;
}
.mat-icon{
    width: 35px;
    height: 35px;
}

.nav{
    background-color: #3c3c3c00;
    /*border-bottom: solid 2px rgb(58, 58, 56);*/
}