<div class="home cont-padre" id="inicio">
  <div class="presentacion">
    <h1 style="font-size: 40px;" data-aos="fade-down" data-aos-delay="300"><b>Hola, soy Damian Bacque</b></h1>
    <h2 data-aos="fade-down" data-aos-delay="300">Desarrollador Front-End Jr.</h2>
  </div>

  <div class="contenedor" data-aos="fade-up" data-aos-delay="300">
    <a href="https://www.linkedin.com/in/damian-bacque/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/DamianBacq" target="_blank"><i class="fab fa-github"></i></a>
    <a href="../../../assets/Curriculum Damian Bacque.pdf" download="Curriculum Damian Bacque.pdf"><i class="fa-regular fa-file"></i></a>
  </div>
</div>
