<div id="home" class="cont-padre">
  <div class="presentacion">
    <h1 style="font-size: 40px;"><b>Hola, soy Damian Bacque</b></h1>
    <h2>Soy Desarrollador Front-End Jr</h2>
  </div>

  <div class="contenedor">
    <a href="https://www.linkedin.com/in/damian-bacque/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/DamianBacq" target="_blank"><i class="fab fa-github"></i></a>
    <a href="../../../assets/Curriculum Damian Bacque.pdf" download="Curriculum Damian Bacque.pdf"><i class="fa-regular fa-file"></i></a>
  </div>
</div>
<footer class="footer">
  © Copyright 2024 | All Right Reserved | Designed by Damian Bacque
</footer>