<div id="home">
  <section>
    <h2 class="titulo"><b>Sobre mi</b></h2>
    <div class="container">
      <img class="imagen" src="../../../assets/1675295477118.jpg" alt="" />
      <div class="textos">
        <h3 class="subtitulo"><b>Desarrollador Front-End</b></h3>
        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          vulputate consequat ultricies. Pellentesque placerat odio dolor, sit
          amet consectetur sapien vestibulum et. Integer egestas sapien quis
          justo vulputate finibus. Nunc nec ex et nibh maximus varius non
          ultricies nulla. In sed odio turpis. Sed auctor mauris et ante
          fermentum, vitae imperdiet justo facilisis. Aliquam pharetra arcu
          tempor, vehicula lacus ut, tristique magna. Curabitur placerat erat
          est, consequat accumsan sem posuere et. In a ultrices erat. Fusce et
          maximus sapien. Quisque vulputate consequat urna eget pharetra. Proin
          eget consequat augue. Donec at tristique quam. Maecenas nec tristique
          quam
          
        </p>
        
      </div>
    </div>
  </section>
</div>
<footer class="footer">
    © Copyright 2024 | All Right Reserved | Designed by Damian Bacque
  </footer>
