<div id="home">
  <section data-aos="zoom-in" data-aos-duration="1000">
    <h2 class="titulo"><b>Sobre mi</b></h2>
    <div class="container">
      <img class="imagen" src="../../../assets/1675295477118.jpg" alt="" />
      <div class="textos">
        <h3 class="subtitulo"><b>Desarrollador Front-End</b></h3>
        <p class="descripcion">
          Soy un desarrollador Front-End con proyección a desarrollador
          Fullstack. <br> Busco un equipo al cual aportar mi conocimiento y desempeño
          tanto como para el desarrollo web como para aplicaciones. Soy
          resolutivo, tengo ambición y buena comunicación para llevar a cabo
          cualquier tipo de proyecto. <br>Estoy constantemente instruyéndome y
          aprendiendo sobre nuevas tecnologías, en cuyo caso se presente la
          situación en la que haya que aprender algo nuevo estoy preparado para
          cualquier desafío.
        </p>

        <p class="ubicacion">
          <mat-icon
            class="iconoDescrip"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="publicIcon"
            style="color: blueviolet"
          ></mat-icon>
          Buenos Aires, Argentina.
        </p>
        <p class="ubicacion">
          <mat-icon
            class="iconoDescrip"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="phoneAndroid"
            style="color: blueviolet"
          ></mat-icon>
          +54 9 11 4050-8919
        </p>
        <div class="logos">
          <img src="../../../assets/HTML2.png" alt="">
          <img src="../../../assets/CSS2.png" alt="">
          <img src="../../../assets/JS.png" alt="">
          <img src="../../../assets/Angular.png" alt="">
          <img src="../../../assets/Tailwind.png" alt="">
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="footer">
  © Copyright 2024 | All Right Reserved | Designed by Damian Bacque
</footer>
