<div id="home">
  <section>
    <div class="contenedor" data-aos="zoom-in" data-aos-duration="1000">
      <div class="gif">
        <h4>
          <b
            >No dudes en <br />
            contactarme</b
          >
        </h4>
        <img src="../../../assets/letter-1174_256.gif" alt="" />
      </div>
      <form class="formulario" [formGroup]="myForm" (ngSubmit)="Enviar()">
        <div class="form-group">
          <label for="nombre"><b>Nombre</b></label>
          <input
          class="form-control"
            type="text"
            id="nombre"
            placeholder="Nombre"
            formControlName="nombre"
          />
        </div>
        <div class="form-group">
          <label for="Email"><b>Email</b></label>
          <input
            class="form-control"
            type="text"
            id="Email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label for="Asunto"><b>Asunto</b></label>
          <input
            type="text"
            class="form-control"
            id="Asunto"
            placeholder="Asunto"
            formControlName="asunto"
          />
        </div>
        <div class="form-group">
          <label for="mensaje"><b>Mensaje</b></label>
          <textarea
            class="mensajeCuadro form-control"
            type="text"
            id="Mensaje"
            formControlName="mensaje"
          ></textarea>
        </div>
        <div class="boton">
          <button mat-raised-button (click)="Enviar()">Enviar</button>
        </div>
      </form>
    </div>
  </section>
</div>
<footer class="footer">
  © Copyright 2024 | All Right Reserved | Designed by Damian Bacque
</footer>
