<div id="home">
  <section>
    <form class="formulario" [formGroup]="myForm" (ngSubmit)="Enviar()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          [ngClass]=""
          id="nombre"
          placeholder="Nombre"
          formControlName="nombre"
        />
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input
          type="text"
          [ngClass]=""
          id="Email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="Asunto">Asunto</label>
        <input
          type="text"
          class="form-control"
          id="Asunto"
          placeholder="Asunto"
          formControlName="asunto"
        />
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <input
          type="text"
          [ngClass]=""
          id="Mensaje"
          placeholder="Mensaje"
          formControlName="mensaje"
        />
      </div>
    </form>
  </section>
</div>
<footer class="footer">
  © Copyright 2024 | All Right Reserved | Designed by Damian Bacque
</footer>
